* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.main-visuals {
  background-image: url('../images/sd.jpg');
  background-size: 100vh auto;
  background-position: 40% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 38%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20vh;
  padding: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  height: 10vh;
}

main {
  width: 62%;
}

