* {
  box-sizing: border-box;
}

/* 
html {
  font-size: 10px;
} */

@font-face {
  font-family: 'norse';
  src: url(Norse-Bold.otf);
}

body {
  display: flex;
}

.main-visuals {
  background-image: url('../images/sd.jpg');
  background-size: 100vh auto;
  background-position: 40% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 38%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20vh;
  padding: 1vh;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.title img {
  height: 13vh;
}

.title h1 {
  font-family: 'norse', sans-serif;
  font-size: 5rem;
}

main {
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  margin: 0;
  padding: 0;
}

.mainTop,
.mainForm,
main > span {
  padding: 5vh 40px;
  padding-top: 0;
}

button {
  margin: 5vh 40px;
}

.mainForm {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.85);
}

.mainForm h4 {
  display: block;
}
.mainForm {
  /* width: 40%; */
  display: flex;
  flex-flow: column wrap;
}

fieldset {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  width: 100%;
  border: none;
  padding: 0;
}

.form-input {

}